<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <title>Pda to Go</title>
</head>
<body>
    <div class="row header">
        <div class="logo">
            <img src="./img/main_logo.png" alt="">
        </div>
        <div class="account_block">
            <a href="" class="login_button button">Log in</a>
            <a href="" class="register_button button">Register</a>
        </div>
    </div>
    <!--<div class="row menu">
        <div class="menu_els">

        </div>
        <div class="menu_els">

        </div>
        <div class="menu_els">

        </div>
        <div class="menu_els">

        </div>
    </div>-->
    {{{body}}}
    <script src="./js/animations.js"></script>
</body>
</html>