<div class="login_box">
    <div class="main_blocks">
        <form action="../api/login" method="POST">
            <div class="form_flex">
                <label for="login">Login</label>
                <input class="fields" type="text" name="login" id="login">
                <label for="pass">Password</label>
                <input class="fields" type="password" name="password" id="pass">
                {{#if incorrect}}
                    <p>username or password is incorrect</p>
                {{/if}}
                <input class="submit_button" type="submit" name="submit" value="Log In">
            </div>
        </form>
        <p>Haven't created account yet? <a href="../signup">Sign Up</a></p>
    </div>
</div>