<!--<div class="row content">
    {{#if content}}
    <div class="latest_devices">

    </div>
    <div class="latest_devices">

    </div>
    <div class="latest_devices">

    </div>
    {{else}}
    <h2>No devices found on our forum</h2>
    {{/if}}
</div>-->