<div class="signup_block">
    <form action="/verifyIdentity" method="POST">
        <div class="signup_flex">
            <label for="email">Email</label>
            <input id="email" type="text" name="email">
            <label for="pass">Password</label>
            <input type="password" name="password" id="pass">
            <label for="nickname">Name</label>
            <input type="text" name="name" id="name">
            <input id="submit_button" type="submit" name="submit" value="Sign Up">
        </div>
    </form>
</div>